<div cdkDrag [cdkDragDisabled]="isSelectingText" cdkDragRootElement=".cdk-overlay-pane">
  <div>
    <h2 mat-dialog-title style="font-family: 'Times New Roman'; font-weight: bold; color: white;" [ngStyle]="{
          'background-color': data.Type === 'Error' ? '#d62828' :
                             data.Type === 'Save' ? 'green' :
                             data.Type === 'Information' ? '#0466c8' :
                             data.Type === 'Warning!!!' ? '#ffc300' :
                             data.Type === 'Reason' ? 'orange' :
                             '#fcca46'
        }">
      {{ data.Type }}
    </h2>
  </div>

  <mat-dialog-content (mousedown)="checkTextSelectionStart($event)" (mouseup)="checkTextSelectionEnd($event)"
    style="cursor: text;">
    <p style="user-select: text;" [innerHTML]="ErrorMsg"></p>

    <!-- Input for Reason -->
    <mat-form-field *ngIf="data.Type === 'Reason'" appearance="outline" style="width: 100%; margin-top: 15px;">
      <mat-label>Enter Reason</mat-label>
      <textarea matInput [(ngModel)]="reason" placeholder="Type your reason here" rows="3"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button *ngIf="data.Type === 'Save' || data.Type === 'Warning!!!'" mat-raised-button
      style="background-color: green; color: white;" (click)="Yes()">Yes</button>
    <button *ngIf="data.Type === 'Save' || data.Type === 'Warning!!!'" mat-raised-button color="warn"
      (click)="No()">No</button>
    <button *ngIf="data.Type !== 'Save' && data.Type !== 'Warning!!!' && data.Type !== 'Reason'" mat-raised-button
      color="primary" [mat-dialog-close]="Status" cdkFocusInitial>OK</button>

    <!-- Save Button for Reason -->
    <button *ngIf="data.Type === 'Reason'" mat-raised-button style="background-color: green; color: white;"
      (click)="saveReason()" [disabled]="!reason || reason.trim() === ''">
      Save
    </button>
    <!-- <button *ngIf="data.Type === 'Reason'" mat-raised-button style="background-color: red; color: white;"
      (click)="No()">
      Close
    </button> -->
  </mat-dialog-actions>
</div>