<mat-card>
    <mat-card-header class="justify-content-center">
        <mat-card-title style="color: brown;font-family: 'Times New Roman', Times, serif;font-weight: bold;"
            class="fs-3">Grn Submit To Accounts</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <input type="text" matInput formControlName="unit">
                    <mat-error>Field Required</mat-error>
                </mat-form-field>

            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                <mat-form-field>
                    <mat-label>PrintId</mat-label>
                    <input type="text" matInput formControlName="id">
                    <mat-error>Field Required</mat-error>
                </mat-form-field>
            </div>
            <div  class="col-6 col-sm-6 col-md-4 col-lg-4">
                <button mat-raised-button type="button" matTooltip="View Selected Item" class="m-1 "
                    color="primary" (click)="View()">
                    View</button>
                <button mat-raised-button type="button" matTooltip="Clear All " class="m-1 " color="warn"
                    (click)="clear()">
                    Clear</button>
            </div>
        </div>

    </form>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="text" matInput (input)="Search($event)">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="select" style="text-align: center;justify-content: center;align-items: center;">
                <th mat-header-cell *matHeaderCellDef > Action   </th>
                <td mat-cell *matCellDef="let row" style="text-align: center;width: 2rem;"><mat-checkbox [(ngModel)]="row.select" (change)="onCheckboxChange()"
                        color="primary"></mat-checkbox></td>
            </ng-container>
            <ng-container matColumnDef="grnRefno">
                <th mat-header-cell *matHeaderCellDef> GrnRefNo </th>
                <td class="w-14rem" mat-cell *matCellDef="let row"> {{row.Grn_Ref_no}} </td>
            </ng-container>
            <ng-container matColumnDef="grnDate">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td class="w-8rem" mat-cell *matCellDef="let row"> {{row.grndate}} </td>
            </ng-container>
            <ng-container matColumnDef="Supplier">
                <th mat-header-cell *matHeaderCellDef> Supplier </th>
                <td mat-cell *matCellDef="let row"> {{row.supname}} </td>
            </ng-container>
            <ng-container matColumnDef="Value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let row"> {{row.value }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['select','grnRefno','grnDate','Supplier','Value']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['select','grnRefno','grnDate','Supplier','Value'];"
                [class.highlight]="row.select"></tr>
        </table>
    </div>
</mat-card>