<mat-card>
  <mat-card-header class="justify-content-center">
    <mat-card-title>Direct Indent</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Stock Req. No</mat-label>
            <input type="text" matInput formControlName="StockReqNo" readonly />
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4" style="margin-top: 3px;">
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="FromDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Cost Center</mat-label>
            <mat-select formControlName="costcenter">
              <mat-option *ngFor="let item of costcentreArr"
                [value]="item.costcentreid">{{item.costcentre}}</mat-option>
            </mat-select>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select formControlName="dept">
              <mat-option *ngFor="let item of DepartmentArr" [value]="item.deptid">{{item.deptname}}</mat-option>
            </mat-select>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="Category">
              <mat-option *ngFor="let item of DepartmentArr" [value]="item.catid">{{item.catname}}</mat-option>
            </mat-select>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Approved By</mat-label>
            <mat-select formControlName="Approvedby">
              <mat-option *ngFor="let item of ApprovedbyArr" [value]="item.empid">{{item.empname}}</mat-option>
            </mat-select>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Employee</mat-label>
            <input type="text" matInput formControlName="Emp" readonly />
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Purchase Department Responsable</mat-label>
            <mat-select formControlName="PurDeptResponse">
              <mat-option *ngFor="let item of ResponsableEmpArr" [value]="item.empid">{{item.empname}}</mat-option>
            </mat-select>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-8 col-sm-8 col-md-4 col-lg-4">
          <mat-form-field appearance="fill">
            <mat-label>Description </mat-label>
            <mat-input-container floatPlaceholder="auto">
              <textarea matInput formControlName="desc"></textarea>
            </mat-input-container>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
          <mat-radio-group aria-label="Select an option" formControlName="prnewtype" (change)="PrTypeChangeEvent()">
            <mat-radio-button class="" value="1" checked>Regular</mat-radio-button>
            <mat-radio-button class="" value="2" style="padding-right: 2%;">Capex</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4" *ngIf="this.form.controls['prnewtype'].value =='2'">
          <mat-form-field appearance="fill">
            <mat-label>Capex</mat-label>
            <mat-select formControlName="Capex" (selectionChange)="CapexChangeEvent()">
              <mat-option *ngFor="let item of CapexArr" [value]="item.capexno">{{item.tranno}}</mat-option>
            </mat-select>
            <mat-error>Field Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 d-flex align-items-center gap-2" *ngIf="this.form.controls['prnewtype'].value =='2'">
          <label for="exampleFormControlInput3" class="form-label">Attachmnet</label>
          <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
          <button mat-raised-button (click)="fileInput.click()"
            style="margin-right: 2%; background-color: rgb(60, 150, 235);">
            Browse </button>
          <button id="uploadserver" mat-raised-button style="background-color: rgb(54, 221, 54);"
            (click)="AddAttachment()">
            Upload </button>
        </div>
      </div>
    </form>
    <div class="col modal-footer">
      <button mat-raised-button type="button" color="primary" (click)="Go()">Go</button>
    </div>
    <div class="mat-elevation-z8 mt-3">
      <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Material">
          <th mat-header-cell *matHeaderCellDef> Material </th>
          <td mat-cell *matCellDef="let row"> {{row.MaterialName}} </td>
        </ng-container>
        <ng-container matColumnDef="Qty">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let row"> {{row.Qty}} </td>
        </ng-container>
        <ng-container matColumnDef="Uom">
          <th mat-header-cell *matHeaderCellDef> Uom </th>
          <td mat-cell *matCellDef="let row"> {{row.Uom}} </td>
        </ng-container>
        <ng-container matColumnDef="Desc">
          <th mat-header-cell *matHeaderCellDef> Descripation </th>
          <td mat-cell *matCellDef="let row"> {{row.Desc}} </td>
        </ng-container>
        <ng-container matColumnDef="Min">
          <th mat-header-cell *matHeaderCellDef> Min_Stock</th>
          <td mat-cell *matCellDef="let row"> {{row.Min}} </td>
        </ng-container>
        <ng-container matColumnDef="Max">
          <th mat-header-cell *matHeaderCellDef> Max_Stock </th>
          <td mat-cell *matCellDef="let row"> {{row.Max}} </td>
        </ng-container>
        <ng-container matColumnDef="Reorder">
          <th mat-header-cell *matHeaderCellDef> Reorder </th>
          <td mat-cell *matCellDef="let row"> {{row.Reorder}} </td>
        </ng-container>
        <ng-container matColumnDef="IndentNo">
          <th mat-header-cell *matHeaderCellDef>Indent_No</th>
          <td mat-cell *matCellDef="let row"> {{row.Min}} </td>
        </ng-container>
        <ng-container matColumnDef="IssueNo">
          <th mat-header-cell *matHeaderCellDef> Issue_No </th>
          <td mat-cell *matCellDef="let row"> {{row.Max}} </td>
        </ng-container>
        <ng-container matColumnDef="btn">
          <th mat-header-cell *matHeaderCellDef>Indent_Sch</th>
          <td class="w-2rem" mat-cell *matCellDef="let row let i=index" [ngSwitch]="row.isSch"
            style="text-align: center;">
            <mat-icon matTooltip="Indent Schedule" *ngSwitchCase="true" color="primary"
              (click)="IndentSch(row)">visibility</mat-icon>
            <mat-icon matTooltip="Indent Schedule" *ngSwitchCase="false" color="accent"
              (click)="IndentSch(row)">edit</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="btn1">
          <th mat-header-cell *matHeaderCellDef>Old_Po </th>
          <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary" type="button"
              (click)="getOldPO()">Old_Po</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Priority">
          <th mat-header-cell *matHeaderCellDef> Priority </th>
          <td mat-cell *matCellDef="let row"> {{row.PriorityName}} </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td class="w-3rem" mat-cell *matCellDef="let row;let i=index" style="text-align: center;"> <mat-icon
              color="warn" (click)="Delete(row,i)">delete</mat-icon> </td>
        </ng-container>
        <tr mat-header-row
          *matHeaderRowDef="['Material','Qty','Uom','Desc','Min','Max','Reorder','btn','btn1','Priority','Delete']">
        </tr>
        <tr mat-row
          *matRowDef="let row; columns: ['Material','Qty','Uom','Desc','Min','Max','Reorder','btn','btn1','Priority','Delete']"
          [ngStyle]="{'background-color': 
                      row.PriorityName === 'Low' ? 'white' :
                      row.PriorityName === 'Medium' ? 'lightsalmon' :
                      row.PriorityName === 'High' ? 'lightgreen' : 'transparent'}">
        </tr>
      </table>
    </div>
    <button mat-raised-button type="button" class="float-end mt-3" (click)="getSaveVaild()"
      style="background-color: green;color: white;">Save</button>
  </mat-card-content>
</mat-card>