<h1>Supplier Registration</h1>
<div class="card">
    <div class="card-body p-3">
        <div class="row">
            <div class="col-lg-4 col-12 mb-2">
                <input type="checkbox" class="form-check-input" [checked]="type === 'supplier'"
                    (change)="Selectedtype($event,'Supplier')" />
                <label class="form-check-label" class="form-check-label">Supplier</label>
            </div>
            <div class="col-lg-4 col-12 mb-2">
                <input type="checkbox" class="form-check-input" [checked]="type === 'subcontractor'"
                    (change)="Selectedtype($event,'Subcontractor')" />
                <label class="form-check-label" class="form-check-label">SubContractor</label>
            </div>
            <div class="col-lg-4 col-12 mb-2">
                <input type="checkbox" class="form-check-input" [checked]="type === 'customer'"
                    (change)="Selectedtype($event,'Customer')" />
                <label class="form-check-label" class="form-check-label">Customer</label>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body p-3">
        <div class="row">
            <div class="col-12 col-lg-4 mb-2">
                <input type="radio" class="form-check-input" [checked]="type === 'Production'"
                    (change)="SelectedSupplier($event,'Production')" />
                <label class="form-check-label" class="form-check-label">Production Supplier</label>
            </div>
            <div class="col-12 col-lg-4 mb-2">
                <input type="radio" class="form-check-input" [checked]="type === 'General'"
                    (change)="SelectedSupplier($event,'General')" />
                <label class="form-check-label" class="form-check-label">General Supplier</label>
            </div>
        </div>
        <!-- <mat-tab-group animationDuration="0ms" class="custom-tabs">
            <mat-tab label="General">
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Supplier Code</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Supplier Name</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Contact Person</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Contact No</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">E-Mail</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Fax No</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Website</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Pan No</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Organization Type</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Establishment Year</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Executive Name</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Major Customer</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Address</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Country</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">State</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Area/City</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Pin Code</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label class="form-check-label"class="form-check-label">Credit Period</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Commercial">Content 2</mat-tab>
            <mat-tab label="Technical">Content 3</mat-tab>
        </mat-tab-group> -->
        <div class="mt-3">
            <ul class="nav nav-tabs" id="supplierTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab"
                        aria-controls="general" aria-selected="true" style="font-size: 20px;">General</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="commercial-tab" data-bs-toggle="tab" href="#commercial" role="tab"
                        aria-controls="commercial" aria-selected="false" style="font-size: 20px;">Commercial</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="technical-tab" data-bs-toggle="tab" href="#technical" role="tab"
                        aria-controls="technical" aria-selected="false" style="font-size: 20px;">Technical</a>
                </li>
            </ul>
            <div class="tab-content" id="supplierTabsContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab"
                    style="padding: 30px;">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Supplier Code</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Supplier Name</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Contact Person</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Contact No</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">E-Mail</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Fax No</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Website</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Pan No</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-2 mb-2">
                            <label class="form-check-label" class="form-check-label">Organization Type</label>
                            <select class="form-select">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-2 mb-2 mt-3">
                            <button class="btn btn-primary">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Establishment Year</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Executive Name</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Major Customer</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Address</label>
                            <textarea class="form-control" style="resize: none;" draggable="false"></textarea>
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Country</label>
                            <select class="form-select">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">State</label>
                            <select class="form-select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Area/City</label>
                            <select class="form-select">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Pin Code</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-12 col-md-4 mb-2">
                            <label class="form-check-label" class="form-check-label">Credit Period</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="commercial" role="tabpanel" aria-labelledby="commercial-tab">
                    <div class="tab-content" id="supplierTabsContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel"
                            aria-labelledby="general-tab" style="padding: 30px;">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-2">
                                    <label class="form-check-label" class="form-check-label">Total Capital
                                        Investment</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-12 col-md-4 mb-2">
                                    <label class="form-check-label" class="form-check-label">Bankers Name/
                                        Address</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-12 col-md-4 mb-2">
                                    <label class="form-check-label" class="form-check-label">SSI Reg. No. &
                                        Others</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 mb-2">
                                    <label class="form-check-label" class="form-check-label">GST No</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-12 col-md-4 mb-2 mt-4">
                                    <input type="checkbox" style="padding: 8px;" class="form-check-input" />
                                    <label class="form-check-label" class="form-check-label">Registered Vendor</label>
                                </div>
                                <div class="col-12 col-md-4 mb-2">
                                    <label class="form-check-label" class="form-check-label">ECC No</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 mb-2">
                                    <label class="form-check-label" class="form-check-label">Currency Type</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="form-check-label" class="form-check-label">Party Type</label>
                                            <select class="form-select">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-check-label" class="form-check-label">Ledger
                                                group</label>
                                            <select class="form-select">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="technical" role="tabpanel" aria-labelledby="technical-tab">
                    <div class="row">
                        <div class="col-4">
                            <label class="form-check-label" for="">Machinery Details</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4">
                            <label class="form-check-label" for="">Measuring Inst. Details</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4">
                            <label class="form-check-label" for="">Quality System</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <h1>Organisational Chart</h1>
                    <div class="card mt-0" style="background-color: #7e90e9;">
                        <div class="card-body">
                            <h1 style="color: white;">Man Power Details</h1>
                            <div class="row">
                                <div class="col-6">
                                    <label class="form-check-label" for="" style="color: white;">Production</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label class="form-check-label" for="" style="color: white;">Quality</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="form-check-label" for="" style="color: white;">Others</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label class="form-check-label" for="" style="color: white;">Total</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-check-label" for="">Weekly Holiday</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="">Working hours</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-check-label" for="">Shift Details</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label class="form-check-label" for="">Shift Timings</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="form-check-label" for="">Expansion plan</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4">
                            <label class="form-check-label" for="">Sanctioned Power Avl</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4">
                            <label class="form-check-label" for="">Standby Power</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>